#jinja2: trim_blocks:False
[Unit]
Description=provider-{{ item.key }} daemon
After=network-online.target

[Service]
WorkingDirectory=/home/{{ user_name }}/go/bin/
ExecStart=/home/{{ user_name }}/go/bin/lavap rpcprovider .lavavisor/services/service_configs/provider-{{ item.key }}.yml \
    --from {{ wallet_name }} \
    --keyring-backend {{ keyring_backend }} \
    --chain-id {% if chain_id == 'testnet' %}{{ chain_id_testnet }}{% elif chain_id == 'mainnet' %}{{ chain_id_mainnet }}{% else %}wrong_chain_name{% endif %} --node {% if chain_id == 'testnet' %}{{ node_testnet }}{% elif chain_id == 'mainnet' %}{{ node_mainnet }}{% else %}wrong_chain_name{% endif %} \
    --geolocation {{ geo_location }} \
    {% if cache.enabled | default(false) %}
    --cache-be {{ cache.address }} \
    {% endif %}
    --log_level {{ log_level }} \
    --log_format {{ log_format }}     
User={{ user_name }}
Restart=always
RestartSec=180
LimitNOFILE=infinity
LimitNPROC=infinity

[Install]
WantedBy=multi-user.target
